#bd1 {
  /* background-image: url("/image/camera-581126_1920.jpg"); */
  background-color: #e8eaf6;
  background-attachment: fixed;
}

.container {
  margin-top: 200px;
  background-color: whitesmoke;
  border-style: solid;
  border-color: #6200ee;
  border-width: 0.1px;
  height: 400px;
  width: 600px;
}
